<nav class="flex flex-col items-center p-2.5">
  <div class="mb-2.5">
    <img src="./logo.png" alt="Logo" class="max-w-24 h-auto">
  </div>
  <div class="flex items-center gap-2.5">
    <a href="#" class="animated-link text-black no-underline">Home</a>
    <span class="text-black">|</span>
    <a href="#" class="animated-link text-black no-underline">About Us</a>
    <span class="text-black">|</span>
    <a href="#" class="animated-link text-black no-underline">Contact Us</a>
    <span class="text-black">|</span>
    <a href="#" class="animated-link text-black no-underline">Services</a>
    <span class="text-black">|</span>
    <a href="#" class="animated-link text-black no-underline">Blog</a>
  </div>
</nav>